
.box1{
    border: 7px solid purple;
    padding: 40px 20px 0px 20px;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    width: 350px;
    height: 130px;
    border-radius: 15px;
    word-spacing: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 2px purple ;
    margin-left: 570px;
    box-shadow: 5px 5px 5px black;

}
.border{
    border: 5px solid purple;
    height: 600px;
   
 
}
.item1{
    
    border: 5px solid black;
    padding: 40px 20px 20px 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 3px palevioletred;
    box-shadow: 5px 5px 5px purple;
    width: 250px;
    height: 130px;
    border-radius: 15px;
    word-spacing: 5px;
}
.item2{
   
    border: 5px solid black;
    padding: 20px;
    text-align: center;
    box-shadow: -5px 5px 5px purple;
    width: 250px;
    border-radius: 15px;
    float: right;
    height: 150px;
    position: relative;
    bottom: 200px;
    
    
}
.item3{
   
    border: 5px solid black;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 1px 2px 2px palevioletred;
    box-shadow: 5px -5px 5px purple;
    width: 250px;
    border-radius: 15px;
    height: 150px;
    position: relative;
    top: 200px;
    
}
.item4{

    border: 5px solid black;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-shadow: 1px 2px 2px palevioletred;
    box-shadow: -5px -5px 5px purple;
    width: 290px;
    border-radius: 15px;
    height: 190px;
    position: relative; 
    left: 470px;
    margin-left: 725px;
}
h3{
    font-size: 25px
}
.container{
    display: grid;
    background-color: palevioletred;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 30px 200px 2px 200px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.grid-item{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: purple;
    text-align: center;
    
}
.item5{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item6{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 10px;
}
.item9{
    display: inline-block;
    background-color: palevioletred;
    padding: 20px;
    position: sticky;
    bottom: 25px;
    left: 600px;
    top: 200px;
    right: 50px;
    box-shadow: 5px 5px 7px black;
    border-radius: 10px;
    font-size: 25px;
}


