h1{
    color: red;
}
i{
    color: red;
}
li{
    color: rgb(105, 35, 35);
}
h3{
    color: red;
}
ul{
    color: rgb(68, 7, 7);
}
ul{
    letter-spacing: 4px;
}
p{
    color: rgb(39, 6, 92);
}
mark{
    color:tomato;
}