.task{
    display: inline-block;
    font-size: 50px;
    padding-left: 350px;
    padding-top: 50px;
    font-family: sans-serif;
    /* position: relative;
    left: 70px; */
}
.list{
    display: inline-block;
    font-size: 30px;
}
span{
    padding-left: 500px;
    size: 60px;
    color: red;
    font-family: sans-serif;
   
}
.a{
    display: inline-block;
    font-size: 30px;
    
}
.b{
    display: inline-block;
    font-size: 25px;
    border: 2px solid red;
    padding: 20px 20px 150px 20px;
    margin-left: 300px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    right: 50px;
    box-shadow: 5px 5px 5px gray;
   
}
.c{
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: center;
}
.d{
    color: red;
    font-family: sans-serif;
    text-decoration: line-through;
}
.e{
    display: inline-block;
    font-size: 25px;
    border: 2px solid red;
    padding: 20px 20px 150px 20px;
    margin-left: 300px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    right: 170px;
    box-shadow: 5px 5px 5px gray;
}
.f{
    color: red;
    font-weight: bold;
    font-family: sans-serif;
}
.g{
    color: red;
    font-family: sans-serif;
    text-decoration: line-through;
}
.h{
    display: inline-block;
    font-size: 25px;
    border: 2px solid red;
    padding: 20px 20px 150px 20px;
    margin-left: 300px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    right: 140px;
    position: relative;
    left: 750px;
    bottom: 375px;
    right: 50px;
    box-shadow: 5px 5px 5px gray;
}
.i{
    color: red;
    font-weight: bold;
    font-family: sans-serif;
}
.j{
    color: red;
    font-family: sans-serif;
    text-decoration: line-through;
}
a{
    text-decoration: none;
}
.parent1{
    z-index: -1;
    filter: blur(5px);
} 


.a3{
    display: inline-block;
    border: 2px solid red;
    text-align: center;
    padding: 10px;
    width: 250px;
    position: relative;
    bottom: 600px;
    
}
.b3{
    color: red;
    font-size: 20px;
}
.c3{
    width: 200px;
    height: 20px;
    border: 2px solid red;
    margin-left: 20px;
}
.d3{
    color: white;
    background-color: red;
    border-radius: 10px;
    border-color: red;
}